@media (max-width: 600px) {
    $logo-size: 50px;

    html {
        font-size: 75%;
    }

    header {
        .logo {
            width: $logo-size;
            height: $logo-size;
        }



        &:after {
            bottom: 14px;
            height: 8px;
        }
    }
}

@media (max-width: 390px) {
    $logo-size: 40px;

    html {
        font-size: 65%;
    }

    header {
        padding: 5px 3% 20px;

        .logo {
            width: $logo-size;
            height: $logo-size;
        }

        &:after {
            bottom: 17px;
            height: 5px;
        }
    }
}
