// Импортим зависимости
@import 'reset';
@import 'vars';

@font-face {
    font-family: 'Bitter';
    src: local('Bitter'), url('#{$fonts-path}/Bitter/Bitter-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2'), url('#{$fonts-path}/Exo_2/Exo2-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}

// Задаём базовые свойства документа
body {
    background-color: $background-color;
    color: white;
}

// Меняем стандартные ссылки
a {
    text-decoration: unset;
    color: #2CBFED;

    &:hover {
        color: white;
    }
}

// Виртуальный экран
.laptop-screen {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url('/images/laptop-screen.webp?id=' + random(1000));
    background-repeat: no-repeat;
    background-size: 100% 100%;

    min-width: 260px;

    &.no-webp {
        background-image: url(../images/laptop-screen.png);
    }
}

// Главный контеинер с контентом
.main-container {
    overflow: auto;
    position: absolute;
    width: 89.6%;
    height: 80.6%;
    top: 46.4%;
    right: 50%;
    transform: translate(50%, -50%);

    display: grid;
    grid-template-rows: 0fr 1fr;
}



header {
    position: relative;
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 0fr;
    align-items: center;
    padding: 5px 5% 20px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
         pointer-events: none;

    .logo {
        width: $logo-size;
        height: $logo-size;

        background-repeat: no-repeat;
        background-image: url('/images/logo.webp?id=' + random(1000));
        -webkit-background-size: contain;
                background-size: contain;

        &.no-webp {
            background-image: url(../images/logo.png);
        }
    }

    .site-name {
        font-family: 'Bitter', serif;
        text-align: right;

        .main {
            font-size: rem(26px);
        }

        .secondary {
            color: #7D9AB6;
            font-size: rem(14px);
        }
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 18px;
        z-index: -1;
        width: 100%;
        height: 14px;
        background-color: #3A3DFC;
    }
}

main {
    font-family: 'Exo 2', sans-serif;
    text-align: center;

    .container.top {
        display: inline-block;
        padding: 0 20px 15px 30px;
        box-shadow: 0 7px 4px -5px #00c2b9;
        margin-bottom: 5px;


        .page-name {
            color: #F8D337;
            font-size: rem(30px);
        }

        .page-tip {
            font-size: rem(18px);
        }
    }
}

.menu {
    .menu-items {
        display: inline-block;
        padding: 0;
        list-style: none;
        font-size: rem(27px);
        line-height: rem(55px);

        .menu-item {
            position: relative;

            &:before {
                content: '';
                display: block;
                opacity: 0;

                position: absolute;
                left: -41px;
                top: 50%;
                transform: translate(0%, -50%);

                width: 30px;
                height: 44px;
            }

            &:hover:before {
                opacity: 1;

                background-repeat: no-repeat;
                background-image: url('/images/badge.webp?id=' + random(1000));
                background-size: cover;
            }

            &.no-webp {
                background-image: url(../images/badge.png);
            }

            & > * {
                display: block;
            }
        }
    }
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}

@import 'responsive';
