html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter"), url("../fonts/Bitter/Bitter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Exo 2";
  src: local("Exo 2"), url("../fonts/Exo_2/Exo2-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
body {
  background-color: #030129;
  color: white;
}

a {
  text-decoration: unset;
  color: #2CBFED;
}
a:hover {
  color: white;
}

.laptop-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/images/laptop-screen.webp?id=286");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 260px;
}
.laptop-screen.no-webp {
  background-image: url(../images/laptop-screen.png);
}

.main-container {
  overflow: auto;
  position: absolute;
  width: 89.6%;
  height: 80.6%;
  top: 46.4%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: grid;
  grid-template-rows: 0fr 1fr;
}

header {
  position: relative;
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-template-rows: 0fr;
  align-items: center;
  padding: 5px 5% 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
header .logo {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-image: url("/images/logo.webp?id=747");
  background-size: contain;
}
header .logo.no-webp {
  background-image: url(../images/logo.png);
}
header .site-name {
  font-family: "Bitter", serif;
  text-align: right;
}
header .site-name .main {
  font-size: 1.625rem;
}
header .site-name .secondary {
  color: #7D9AB6;
  font-size: 0.875rem;
}
header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 18px;
  z-index: -1;
  width: 100%;
  height: 14px;
  background-color: #3A3DFC;
}

main {
  font-family: "Exo 2", sans-serif;
  text-align: center;
}
main .container.top {
  display: inline-block;
  padding: 0 20px 15px 30px;
  box-shadow: 0 7px 4px -5px #00c2b9;
  margin-bottom: 5px;
}
main .container.top .page-name {
  color: #F8D337;
  font-size: 1.875rem;
}
main .container.top .page-tip {
  font-size: 1.125rem;
}

.menu .menu-items {
  display: inline-block;
  padding: 0;
  list-style: none;
  font-size: 1.6875rem;
  line-height: 3.4375rem;
}
.menu .menu-items .menu-item {
  position: relative;
}
.menu .menu-items .menu-item:before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  left: -41px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 30px;
  height: 44px;
}
.menu .menu-items .menu-item:hover:before {
  opacity: 1;
  background-repeat: no-repeat;
  background-image: url("/images/badge.webp?id=538");
  background-size: cover;
}
.menu .menu-items .menu-item.no-webp {
  background-image: url(../images/badge.png);
}
.menu .menu-items .menu-item > * {
  display: block;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity 0.3s ease;
}

.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

@media (max-width: 600px) {
  html {
    font-size: 75%;
  }

  header .logo {
    width: 50px;
    height: 50px;
  }
  header:after {
    bottom: 14px;
    height: 8px;
  }
}
@media (max-width: 390px) {
  html {
    font-size: 65%;
  }

  header {
    padding: 5px 3% 20px;
  }
  header .logo {
    width: 40px;
    height: 40px;
  }
  header:after {
    bottom: 17px;
    height: 5px;
  }
}