<template>
    <div class="laptop-screen">
        <div class="main-container">
            <header>
                <div class="logo"></div>

                <div class="site-name">
                    <div class="main">LOS SANTOS POLICE DEPT.</div>
                    <div class="secondary">Protect and Serve to Los Santos</div>
                </div>
            </header>

            <main>
                <div v-if="$route.name !== 'home'"><router-link :to="{ name: 'home' }">Вернуться на главную</router-link></div>

                <div class="container top">
                    <div class="page-name">{{ pageName }}</div>
                    <div class="page-tip" v-if="pageTip">{{ pageTip }}</div>
                </div>

                <div class="page-content">
                    <transition name="component-fade" mode="out-in">
                        <router-view></router-view>
                    </transition>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            pageName() {
                return this.$store.getters.pageName;
            },

            pageTip() {
                return this.$store.getters.pageTip;
            }
        }
    }
</script>
