<template>
    <div class="menu">
        <ul class="menu-items">
            <li class="menu-item"><router-link :to="{ name: 'test' }">Тестирование системы</router-link></li>
            <li class="menu-item"><a href="#">Административные сервисы</a></li>
            <li class="menu-item"><a href="#">Генератор жетонов</a></li>
            <li class="menu-item"><a href="#">Генератор личного дела</a></li>
            <li class="menu-item"><a href="#">Пункт меню 3</a></li>
            <li class="menu-item"><a href="#">Пункт меню 4</a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pageName: 'Главное меню',
                pageTip: 'Выберите опцию'
            }
        },

        created() {
            this.$store.dispatch('changePageName', this.pageName);
            this.$store.dispatch('changePageTip', this.pageTip);
        }
    }
</script>
