<template>
    <div class="users">
        <div class="loading" v-if="loading">
            Loading...
        </div>

        <div v-if="testPassed === false || error" class="error">
            <p style="color: red;font-size: 1.3em;">Test has not been passed</p>
            <div v-if="error">
                {{ error }}

                <div>
                    <h2>Info:</h2>
                    <ul>
                        <li>Request URI: {{ requestUri }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div v-if="testPassed === true">
            <p style="color: green;font-size: 1.3em;">Test has been passed</p>

            <div>
                <h2>Info:</h2>
                <ul>
                    <li>Request URI: {{ requestUri }}</li>
                    <li>phpVersion: {{ phpVersion }}</li>
                    <li>vueVersion: {{ $vueVersion }}</li>
                    <li>vueRouterVersion: {{ $vueRouterVersion }}</li>
                    <li>browser: {{ browserInfo }}</li>
                    <li>cookieEnabled: {{ cookieEnabled }}</li>
                </ul>
            </div>
        </div>

        <p>
            <button @click.prevent="fetchData()" v-bind:disabled="loading">Test Again</button>
            <button @click.prevent="fetchErroredData()" v-bind:disabled="loading">Test Error</button>
        </p>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                pageName: 'Тестирование системы',
                pageTip: null,
                loading: false,
                error: null,
                testPassed: null,
                phpVersion: null,
                requestUri: null,
                browserInfo: null,
                cookieEnabled: null
            };
        },

        created() {
            this.$store.dispatch('changePageName', this.pageName);
            this.$store.dispatch('changePageTip', this.pageTip);
            this.fetchData();

            // Информация о браузере
            navigator.sayswho= (function(){
                var ua= navigator.userAgent, tem,
                    M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
                if(/trident/i.test(M[1])){
                    tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
                    return 'IE '+(tem[1] || '');
                }
                if(M[1]=== 'Chrome'){
                    tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
                    if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
                }
                M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
                if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
                return M.join(' ');
            })();

            this.browserInfo = navigator.sayswho;
            this.cookieEnabled = navigator.cookieEnabled;
        },

        methods: {
            fetchData(url = '/api/test') {
                this.testPassed = this.phpVersion = this.error = null;
                this.loading = true;
                this.requestUri = url;

                axios
                    .get(url)
                    // Искуственная задерка на пол секунды
                    .then(async response => {
                        await new Promise((resolve => {
                            setTimeout(() => {
                                resolve();
                            }, 500);
                        }));

                        return response;
                    }).then(response => {
                        this.loading = false;

                        return response.data;
                    })
                    .then(data => {
                        let { ok, phpVersion } = data;

                        this.testPassed = ok;
                        this.phpVersion = phpVersion;
                    })
                    .catch(error => {
                        this.loading = false;

                        this.error = error.response.data.message || error.message;
                    });
            },

            fetchErroredData() {
                this.fetchData('/api/cheburek');
            }
        }
    }
</script>
